﻿/*

  BASSCSS

  Next-level CSS toolkit - http://basscss.com

  Made with love by Jxnblk - ©2014 Brent Jackson
  MIT License http://opensource.org/licenses/MIT

*/
body, button, input, select, textarea, pre {
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, dl, ol, ul {
  margin-top: 0;
  margin-bottom: 1rem;
}

button, input, select, textarea {
  font-family: inherit;
  font-size: 100%;
}

article, aside, details, figcaption, figure, footer, header, main, nav, section, summary {
  display: block;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.25;
}

h1, .h1 {
  font-size: 2rem;
}

h2, .h2 {
  font-size: 1.5rem;
}

h3, .h3 {
  font-size: 1.25rem;
}

h4, .h4,
p, dl, ol, ul {
  font-size: 1rem;
}

h5, .h5 {
  font-size: 0.75rem;
}

h6, .h6, small {
  font-size: 0.75rem;
}

@media screen and (min-width: 48em) {
  .h1 {
    font-size: 4rem;
  }

  .h2 {
    font-size: 2rem;
  }

  .h3 {
    font-size: 1.5rem;
  }

  .h4 {
    font-size: 1.125rem;
  }

  .h5 {
    font-size: 0.875rem;
  }

  .h6 {
    font-size: 0.875rem;
  }
}
.bold {
  font-weight: bold;
}

.regular {
  font-weight: normal;
}

.italic {
  font-style: italic;
}

.caps {
  text-transform: uppercase;
  letter-spacing: .2em;
}

.left-align {
  text-align: left;
}

.center {
  text-align: center;
}

.right-align {
  text-align: right;
}

.justified {
  text-align: justify;
}

.m0 {
  margin: 0;
}

.mb0 {
  margin-bottom: 0;
}

.m1 {
  margin: 0.5rem;
}

.mt1 {
  margin-top: 0.5rem;
}

.mr1 {
  margin-right: 0.5rem;
}

.mb1 {
  margin-bottom: 0.5rem;
}

.ml1 {
  margin-left: 0.5rem;
}

.m2 {
  margin: 1rem;
}

.mt2 {
  margin-top: 1rem;
}

.mr2 {
  margin-right: 1rem;
}

.mb2 {
  margin-bottom: 1rem;
}

.ml2 {
  margin-left: 1rem;
}

.m3 {
  margin: 2rem;
}

.mt3 {
  margin-top: 2rem;
}

.mr3 {
  margin-right: 2rem;
}

.mb3 {
  margin-bottom: 2rem;
}

.ml3 {
  margin-left: 2rem;
}

.m4 {
  margin: 4rem;
}

.mt4 {
  margin-top: 4rem;
}

.mr4 {
  margin-right: 4rem;
}

.mb4 {
  margin-bottom: 4rem;
}

.ml4 {
  margin-left: 4rem;
}

.wrap {
  margin-right: auto;
  margin-left: auto;}

.p1 {
  padding: 0.5rem;
}

.px1 {
  padding-right: 0.5rem;
  padding-left: 0.5rem;
}

.py1 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}

.p2 {
  padding: 1rem;
}

.px2 {
  padding-right: 1rem;
  padding-left: 1rem;
}

.py2 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.p3 {
  padding: 2rem;
}

.px3 {
  padding-right: 2rem;
  padding-left: 2rem;
}

.py3 {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.p4 {
  padding: 4rem;
}

.px4 {
  padding-right: 4rem;
  padding-left: 4rem;
}

.py4 {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.inline {
  display: inline;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.oh {
  overflow: hidden;
}

.left {
  float: left;
}

.right {
  float: right;
}

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}

.fit {
  max-width: 100%;
}

.full-width {
  width: 100%;
}

.half-width {
  width: 50%;
}

.mobile-show {
  display: none !important;
}

@media screen and (max-width: 48em) {
  .mobile-show,
  .mobile-block {
    display: block !important;
  }

  .mobile-block {
    width: 100%;
  }

  .mobile-hide {
    display: none !important;
  }

  .mobile-center {
    text-align: center;
  }
}
.form {
  font-size: 1rem;
}
.form .field,
.form .input,
.form .select {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 100%;
  height: 2.25rem;
  line-height: 1.5rem;
}
.form .input,
.form .select {
  border-style: solid;
  border-width: 1px;
}
.form .select {
  margin-right: 0;
  margin-left: 0;
}
.form .select[multiple] {
  height: auto;
}
.form .input {
  padding: 0.375rem 0.75rem;
  -webkit-appearance: none;
  appearance: none;
}
.form .textarea {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0.75rem;
  line-height: 1.5;
}
.form .field-big,
.form .input-big {
  height: 3rem;
}
.form .field-small,
.form .input-small {
  height: 1.75rem;
  line-height: 1rem;
}

.form-stacked .label,
.form-stacked .input,
.form-stacked .select,
.form-stacked .checkbox,
.form-stacked .radio,
.form-stacked .fieldset,
.form-stacked .field {
  display: block;
  width: 100%;
}
.form-stacked .input,
.form-stacked .select,
.form-stacked .radio,
.form-stacked .checkbox,
.form-stacked .fieldset,
.form-stacked .field {
  margin-bottom: 1rem;
}

.list-reset {
  list-style: none;
  padding-left: 0;
}

.list-inline li {
  display: inline;
  white-space: nowrap;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.top-0 {
  top: 0;
}

.right-0 {
  right: 0;
}

.bottom-0 {
  bottom: 0;
}

.left-0 {
  left: 0;
}

.z1 {
  z-index: 1;
}

.z2 {
  z-index: 2;
}

.z3 {
  z-index: 3;
}

.z4 {
  z-index: 4;
}

.absolute-center {
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: table;
}

.table-reset {
  border-collapse: collapse;
  border-spacing: 0;
  max-width: 100%;
  width: 100%;
}
.table-reset th {
  text-align: left;
}
.table-reset th, .table-reset td {
  padding: 0.75rem;
  line-height: inherit;
}
.table-reset th {
  vertical-align: bottom;
}
.table-reset td {
  vertical-align: top;
}

.table-small th, .table-small td {
  padding: 0.1875rem 0.75rem;
  line-height: 1.75rem;
}

.button {
  font-family: inherit;
  font-weight: bold;
  text-decoration: none;
  cursor: pointer;
  border: none;
  -webkit-appearance: none;
  appearance: none;
  white-space: nowrap;
  display: inline-block;
  line-height: 2.25rem;
  height: auto;
  min-height: 2.25rem;
  padding: 0 0.75rem;
}
.button:hover, .button:focus {
  text-decoration: none;
}

.button-big {
  line-height: 3rem;
  min-height: 3rem;
  padding: 0 1.125rem;
}

.button-small {
  line-height: 1.75rem;
  min-height: 1.75rem;
}

.container {
  max-width: 75rem;
  margin-right: auto;
  margin-left: auto;
}

.row {
  overflow: hidden;
  margin-right: -1rem;
  margin-left: -1rem;
}

.col,
.col-right,
.col-center,
.mobile-col,
.col-px {
  box-sizing: border-box;
  padding-right: 1rem;
  padding-left: 1rem;
}

.mobile-col {
  float: left;
}

.mobile-col-1 {
  width: 8.33333%;
}

.mobile-col-2 {
  width: 16.66667%;
}

.mobile-col-3 {
  width: 25%;
}

.mobile-col-4 {
  width: 33.33333%;
}

.mobile-col-5 {
  width: 41.66667%;
}

.mobile-col-6 {
  width: 50%;
}

.mobile-col-7 {
  width: 58.33333%;
}

.mobile-col-8 {
  width: 66.66667%;
}

.mobile-col-9 {
  width: 75%;
}

.mobile-col-10 {
  width: 83.33333%;
}

.mobile-col-11 {
  width: 91.66667%;
}

@media screen and (min-width: 48em) {
  .col {
    float: left;
  }

  .col-right {
    float: right;
  }

  .col-center {
    margin-right: auto;
    margin-left: auto;
  }

  .col-1 {
    width: 8.33333%;
  }

  .col-offset-1 {
    margin-left: 8.33333%;
  }

  .col-2 {
    width: 16.66667%;
  }

  .col-offset-2 {
    margin-left: 16.66667%;
  }

  .col-3 {
    width: 25%;
  }

  .col-offset-3 {
    margin-left: 25%;
  }

  .col-4 {
    width: 33.33333%;
  }

  .col-offset-4 {
    margin-left: 33.33333%;
  }

  .col-5 {
    width: 41.66667%;
  }

  .col-offset-5 {
    margin-left: 41.66667%;
  }

  .col-6 {
    width: 50%;
  }

  .col-offset-6 {
    margin-left: 50%;
  }

  .col-7 {
    width: 58.33333%;
  }

  .col-offset-7 {
    margin-left: 58.33333%;
  }

  .col-8 {
    width: 66.66667%;
  }

  .col-offset-8 {
    margin-left: 66.66667%;
  }

  .col-9 {
    width: 75%;
  }

  .col-offset-9 {
    margin-left: 75%;
  }

  .col-10 {
    width: 83.33333%;
  }

  .col-offset-10 {
    margin-left: 83.33333%;
  }

  .col-11 {
    width: 91.66667%;
  }

  .col-offset-11 {
    margin-left: 91.66667%;
  }

  .container-col-10 {
    max-width: 62.16667rem;
    margin-right: auto;
    margin-left: auto;
  }

  .container-col-8 {
    max-width: 49.33333rem;
    margin-right: auto;
    margin-left: auto;
  }

  .container-col-6 {
    max-width: 36.5rem;
    margin-right: auto;
    margin-left: auto;
  }
}
.mobile-table {
  display: table;
  width: 100%;
}

.mobile-table-cell {
  display: table-cell;
  vertical-align: middle;
}

@media (min-width: 48em) {
  .table {
    display: table;
    width: 100%;
  }

  .table-cell {
    display: table-cell;
    vertical-align: middle;
  }
}
.table-fixed {
  table-layout: fixed;
}

.nav {
  line-height: 2.25rem;
}
.nav > a,
.nav .nav-item {
  display: block;
  line-height: inherit;
  white-space: nowrap;
}
.nav > a {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.mobile-nav-table {
  display: table;
}
.mobile-nav-table > a,
.mobile-nav-table .nav-item {
  display: table-cell;
  vertical-align: middle;
}

@media (min-width: 32em) {
  .nav-table {
    display: table;
  }
  .nav-table > a,
  .nav-table .nav-item {
    display: table-cell;
    vertical-align: middle;
  }
}
.nav-table-fixed {
  table-layout: fixed;
}

.nav-item-px {
  padding-right: 0.75rem;
  padding-left: 0.75rem;
}

.nav-big {
  line-height: 3rem;
}

.nav-small {
  line-height: 1.75rem;
}

.nav-flush {
  margin-right: -0.75rem;
  margin-left: -0.75rem;
}

body {
  color: #333333;
  background-color: #fff;
}

a {
  color: #0096cc;
  text-decoration: none;
}
a:hover {
  color: #007199;
  text-decoration: underline;
}

.white {
  color: #fff;
}

.dark-gray {
  color: #333333;
}

.mid-gray {
  color: #777777;
}

.light-gray {
  color: #eeeeee;
}

.blue {
  color: #0096cc;
}

.green {
  color: #11e966;
}

.yellow {
  color: #ffdc00;
}

.red {
  color: #f96010;
}

.bg-white {
  background-color: #fff;
}

.bg-dark-gray {
  background-color: #333333;
}

.bg-mid-gray {
  background-color: #777777;
}

.bg-light-gray {
  background-color: #eeeeee;
}

.bg-blue {
  background-color: #0096cc;
}

.bg-green {
  background-color: #11e966;
}

.bg-yellow {
  background-color: #ffdc00;
}

.bg-red {
  background-color: #f96010;
}

.border {
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
}

.border-top {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #cccccc;
}

.border-right {
  border-right-style: solid;
  border-right-width: 1px;
  border-right-color: #cccccc;
}

.border-bottom {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #cccccc;
}

.border-left {
  border-left-style: solid;
  border-left-width: 1px;
  border-left-color: #cccccc;
}

.rounded {
  border-radius: 0.25rem;
}

.circle {
  border-radius: 50%;
}

.form-light .input,
.form-light .textarea,
.form-light .select {
  background-color: white;
  transition: box-shadow .2s ease;
  border-color: #cccccc;
  border-radius: 0.25rem;
}
.form-light .input:focus,
.form-light .textarea:focus,
.form-light .select:focus {
  outline: none;
  border-color: #0096cc;
  box-shadow: 0 0 0.125rem rgba(0, 150, 204, 0.5);
}
.form-light .radio input,
.form-light .checkbox input {
  transition: box-shadow .2s ease;
}
.form-light .radio input:focus,
.form-light .checkbox input:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 1px 4px rgba(0, 150, 204, 0.5);
}
.form-light .radio input {
  border-radius: 50%;
}
.form-light .fieldset {
  border-width: 1px;
  border-style: solid;
  border-color: #cccccc;
  border-radius: 0.25rem;
}

.table-light th, .table-light td {
  border-bottom: 1px solid #cccccc;
}

.button {
  border-radius: 0.25rem;
  transition-duration: .2s;
  transition-timing-function: ease;
  transition-property: box-shadow , background-color;
}
.button:focus {
  outline: none;
  box-shadow: 0 0 0 2px white, 0 0 1px 4px rgba(0, 150, 204, 0.5);
}

.button-blue {
  color: #fff;
  background-color: #0096cc;
}
.button-blue:hover {
  color: #fff;
  background-color: #004b66;
}

.button-gray {
  color: #fff;
  background-color: #777777;
}
.button-gray:hover {
  color: #fff;
  background-color: #444444;
}

.nav a:hover, .nav a:focus {
  text-decoration: none;
}

.nav-dark > a {
  color: white;
}
.nav-dark > a:hover, .nav-dark > a:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.25);
}
.nav-dark .active {
  background-color: rgba(0, 0, 0, 0.375);
}

.nav-light > a {
  color: #333333;
}
.nav-light > a:hover, .nav-light > a:focus {
  color: #333333;
  background-color: rgba(0, 0, 0, 0.125);
}
.nav-light .active {
  background-color: rgba(0, 0, 0, 0.25);
}

.nav-borders {
  border-style: solid;
  border-width: 1px;
  border-color: #cccccc;
}
.nav-borders > a {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: #cccccc;
}
.nav-borders > a:first-child {
  border-top: 0;
}
.nav-borders .active {
  color: #333333;
}

.nav-pills > a {
  border-radius: 0.25rem;
}
.nav-pills > a:hover, .nav-pills > a:focus {
  background-color: rgba(0, 150, 204, 0.125);
}
.nav-pills .active {
  color: white;
  background-color: #0096cc;
}
.nav-pills .active:hover, .nav-pills .active:focus {
  background-color: #007199;
}

.nav-segments {
  box-shadow: inset 0 0 0 1px #0096cc;
  border-radius: 0.25rem;
}
.nav-segments > a {
  border-right: 1px solid #0096cc;
  border-bottom: 1px solid #0096cc;
}
.nav-segments > a:hover, .nav-segments > a:focus {
  background-color: rgba(0, 150, 204, 0.125);
}
.nav-segments > a:first-child {
  border-radius: 0.25rem 0 0 0.25rem;
}
.nav-segments > a:last-child {
  border-right: 0;
  border-radius: 0 0.25rem 0.25rem 0;
}
.nav-segments .active {
  color: white;
  background-color: #0096cc;
}
.nav-segments .active:hover, .nav-segments .active:focus {
  background-color: #007199;
}
.nav-segments .disabled {
  color: rgba(51, 51, 51, 0.5);
}
.nav-segments .disabled:hover, .nav-segments .disabled:focus {
  color: rgba(51, 51, 51, 0.5);
  background-color: transparent;
}

.nav-tabs > a {
  border-radius: 0.25rem 0.25rem 0 0;
  border-bottom: 1px solid #cccccc;
}
.nav-tabs > a:hover {
  background-color: rgba(0, 0, 0, 0.125);
}
.nav-tabs .active {
  background-color: white;
  border: 1px solid #cccccc;
  border-bottom-color: transparent;
}
