@charset "UTF-8"

body {
  font-family: "Georgia", "Hiragino Sans GB", "Droid Sans Fallback", STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

html, body {
  height: 100%;
}

body {
  font-size: 1.5rem;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

ul, li {
  list-style: none;
}

.wrap {
  max-width: 600px;
  margin: auto auto;
}

.outline {
  outline: 1px solid #000;
}

.top {
  color: #fff;
  background-color: #0CB7E8;
}

.activity ul {
  overflow: hidden;
}

ul.details {
}

.activity li {
  width: 50%;
  float: left;
  margin-left: 0;
}

.icon {
  display: inline-block;
  float: left;
}

.spec {
  display: inline-block;
  width: 60%;
}

p.data-explanation {
  color: #333;
  font-size: 1.2rem;
}

.app-feature {
}

footer {
  height: 100px;
  background-color: #ddd;
}

.main-blue {
  color: #0CB7E8;
}

hr {
  height: 0;
  margin: 2rem auto 4rem;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 4px solid #ddd
}






















