@charset "UTF-8"

body {
  font-family: "Georgia", "Hiragino Sans GB", "Droid Sans Fallback", STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
}

html, body {
  height: 100%;
}

img {
  width: 100%;
}

body {
  font-size: 1.5rem;

  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;

  background: url("../images/bg.jpg") no-repeat center center fixed;
  background-size: cover;
}

.wrap {
  width: 80%;
  margin: auto auto;
}

.outline {
  outline: 1px solid #000;
}

.top {
  background-color: #fff;
  color: #0CB7E8;
}

.app-show {
  text-align: center;
}

.app-show img {
  width: 60%;
}

.details {
  color: #ddd;
}

footer {
  height: 100px;
  background-color: #ddd;
}
