/* CSS Document */
/* Move down content because we have a fixed navbar that is 50px tall */


body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.navbar {
  navbar-default-bg: #7CCDFF;
  }